[defaults]
roles_path = /usr/local/lib/magicstick/host-management/roles
local_tmp = /var/lib/magicstick/host-management/ansible-tmp
remote_tmp = /var/lib/magicstick/host-management/ansible-remote
retry_files_enabled = False
interpreter_python = /usr/bin/python3
host_key_checking = True
